<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>329010833239-roghvvp1i9unst88onbuij4u0q28hpir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.329010833239-roghvvp1i9unst88onbuij4u0q28hpir</string>
	<key>API_KEY</key>
	<string>AIzaSyDhBGYfPDgPNIbs3Wzzky9Eaoyb8EIegRg</string>
	<key>GCM_SENDER_ID</key>
	<string>329010833239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spiking.DSEK-Sangbok</string>
	<key>PROJECT_ID</key>
	<string>d-sek-sangbok</string>
	<key>STORAGE_BUCKET</key>
	<string>d-sek-sangbok.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:329010833239:ios:d0161ef3109ef494</string>
	<key>DATABASE_URL</key>
	<string>https://d-sek-sangbok.firebaseio.com</string>
</dict>
</plist>